.div {

    margin: 5px;
    padding: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

button {
    width: 15%;
    margin-left: 20px;
}

.imgTshirt {
    margin: 5px;
}

.divTshirts {
    cursor: pointer;
    display: flex;
    margin: 5px;
    padding: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.divTshirt {
    width: 10%;
}

.divInformation {
    width: 70%;
}

.divQuantity {
    width: 10%;
}

.divPrice {
    width: 10%;
}